@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.enviar_nome {
    color: #FFF;
}
.enviar_mensagem {
    color: #a7a9ac;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-top: 5px;
}
.enviar_tempo {
    color: #a7a9ac;
    font-size: 12px;
    font-weight: 200;
}